/* Universal Style Sheet */

/* Ensure the entire document has the specified styles regardless of system mode */
body {
    background-color: #AAAAAA; /* Background color */
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scrolling */
    height: 100%; /* Ensure body and html take full height */
    display: flex;
    flex-direction: column;

/* Override any system or user-defined styles */
body, html, header, footer, main, #menuContent {
<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap" rel="stylesheet">\
    background-color: #000; /* Ensure background is always the same */
    color: #AAA; /* Ensure text color is always the same */
    
}

a {
    color: #660000; /* Link color */
    text-decoration: none;
}

a:hover {
    color: #660000; /* Hover link color */
    text-decoration: none;
}
header, footer {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: #AAAAAA; /* Header and Footer Background */
}

header .logo img {
    height: 50px; /* Adjust the height as needed */
}

header .hamburger {
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
    color: #000000; /* Ensure heading text color */
<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap" rel="stylesheet">
    
}

p, li {
<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap" rel="stylesheet">
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #AAAAAA; /* Menu Background */
}

#menuContent a, #menuContent b {
<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap" rel="stylesheet">
    color: #AAAAAA;
    padding: 12px 0;
    text-decoration: none;
    display: block;
}

#menuContent a:hover {
    background-color: #AAAAAA;
}
main {
    flex: 1; /* Makes the main content area grow to fill available space */
    padding: 20px;
    background-color: #AAAAAA; /* Ensure main background is consistent */
}

footer {
    text-align: center;
    padding: 10px 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #000000; /* Footer Background */
    z-index: 1000; /* Ensures the footer stays above other content */
    color: #000000; /* Ensure footer text color */
}
