/* Universal Style Sheet */

body {
    font-family: 'Neue Helvetica', Helvetica, Arial, sans-serif;
    color: #000000;
    background-color: #bbbbbb;
    margin: 0;
    padding: 0;
}

a {
    color: #660000;
    text-decoration: none;
}

a:hover {
    color: #660000;
    text-decoration: none;
}

header, footer {
    font-family: 'Neue Helvetica', Helvetica, Arial, sans-serif;
    color: #000000;
    background-color: #bbbbbb;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img {
    height: 50px; /* Adjust the height as needed */
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Neue Helvetica', Helvetica, Arial, sans-serif;
    color: #000000;
}

p, li {
    font-family: 'Neue Helvetica', Helvetica, Arial, sans-serif;
    color: #000000;
}

.dropdown {
    position: absolute;
    display: inline-block;
}

.dropbtn {
    background-color: #bbbbbb;
    color: #000000;
    padding: 10px 20px;
    font-size: 13px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 1;
    background-color: #bbbbbb;
    min-width: 400px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a, .dropdown-content b {
    color: bbbbbb;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #bbbbbb;
}

main {
    padding: 20px;
}

footer {
    text-align: center;
    padding: 10px 20px;
}
